<%= form_for(@image, :as => :image,
            :url => (@image.new_record? ? main_app.images_path : main_app.image_path),
            :method => (@image.new_record? ? :post : :put),
            :html => {:id=>"form_image", :class=>"mb-0 form-horizontal", :multipart => true, :target => "iframe_image"}) do |f| %>

  <div class="modal-body">

    <%# if @current_user.has_role?("Technical Admin") %>
    <% unless @image.new_record? %>
    <blockquote class="blockquote blockquote-warning">
      <p><strong><i class="fa fa-download mr-5"></i>Download</strong></p>
      <div class="row">
        <% @image.image.versions.each do |k, v| %>
          <% next unless @image.image %>
          <div class="col-md-4" style="margin-top:10px;">
            <%= link_to @image.image.versions[k].url, target: "_blank" do %>
              <%= display_image(@image, "image.#{k}.url", width: "auto", height: "60px", style: "display:block; margin-left:auto; margin-right:auto;") %>
              <div style="text-align: center;color: #4b4b4b;font-size:12px;padding:5px;"><%= k.to_s.titleize %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </blockquote>
    <% end %>
    <%# end %>

    <!-- Display Instructions - Get instructions from the imageable settings else display default instructions -->
    <blockquote class="blockquote blockquote-warning">
      <p><strong><i class="fa fa-lightbulb-o mr-5"></i><%= @form_sub_title %></strong></p>
      <ul>
        <% @form_instructions.each do |i| %>
          <li><%= raw i %></li>
        <% end %>
      </ul>
    </blockquote>

    <div id="image_form_error">
      <%= @image.errors[:base].to_sentence %>
    </div>

    <%= hidden_field_tag :faction, @image.new_record? ? main_app.images_path : main_app.image_path(@image) %>
    
    <%= hidden_field_tag :fmethod, @image.new_record? ? "POST" : "PUT" %>

    <%= hidden_field_tag :imageable_id, params[:imageable_id] %>

    <%= hidden_field_tag :imageable_type, params[:imageable_type] %>

    <%= hidden_field_tag :redirect_url, params[:redirect_url] %>

    <%= hidden_field_tag :image_type, params[:image_type] %>

    <%= hidden_field_tag :multiple, params[:multiple] %>
    
    <%= theme_form_field(@image, :image, html_options: {type: 'file'}, label: @form_upload_image_label, param_name: "image") %>

  </div>

  <div class="modal-footer">
    <div class="pull-right">
      
      <!-- <button type="button" class="btn btn-default">Cancel</button> -->
      
      <%= link_to raw("<i class='fa fa-close mr-5'></i><span>Cancel</span>"), "#", onclick: "closeImageUploadModal();", class: "ml-10 btn btn-default" %>

      <%= submit_tag "Upload", "data-reset-text"=>"Upload", "data-loading-text"=>"Uploading ...", :class=>"btn btn-primary ml-10" %>
    </div>

  </div>

  <div class="cl-10"></div>

<% end %>
