<div class="table-responsive"> 
	<table class="table table-hover members-table middle-align">
	  <thead> 
			<tr> 
				<th style="text-align: center;width:30px">#</th> 
				<th>Name</th>
				<th>Image Type</th>
				<th style="text-align: center;">Imageable</th>
			</tr> 
		</thead>
	  <tbody>
	  	<% @images.each_with_index do |image, i| %>

	  		<% 
	  			show_link = image_path(image)
	  			edit_link = edit_image_path(image)
					delete_link = image_path(image)
				%>

				<tr id="tr_image_<%= image.id %>">
		      
		      <th scope="row" style="text-align: center;">
						<% if i < 0 %>
							<i class="fa fa-check text-success"></i>
						<% else %>
							<%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
						<% end %>
					</th>

					<td class="image-name"><%= link_to (image.imageable.try(:display_name) || "#{image.imageable_id} - #{image.imageable_type}" ), show_link, remote: true %></td>

					<td class="image-name"><%= link_to image.type, show_link, remote: true %></td>

					<td class="image-name" style="text-align: center;"><%= link_to image.imageable.class.name, show_link, remote: true %></td>

		    </tr>
		  <% end %>
	  </tbody>
	</table>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= paginate_kuppayam(@images) %>
  </div>
</div>
