<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    <%= render :partial=>"/layouts/kuppayam/xenon/head" -%>

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <style type="text/css">
      .panel-positive h4.panel-title a { color: #68b828 !important; }
      .panel-negative h4.panel-title a { color: #cc3f44 !important; }
    </style>

  </head>

  <body class="page-body">

    <!-- <div class="settings-pane" id="settings_pane">
      <%#= render :partial=>"/layouts/kuppayam/xenon/settings_pane" -%>
    </div> -->

    <div class="page-container">

      <!-- Sidebar Navigation -->
      <%= render :partial=>"/layouts/kuppayam/xenon/sidebar" -%>
      
      <div class="main-content">

        <!-- Heading & Breadcrumbs -->
        <%= render :partial=>"/layouts/kuppayam/xenon/heading" -%>

        <%= render :partial=>"/kuppayam/api/docs/navbar" -%>
        <div class="tab-content">
          <div class="tab-pane active">

            <div class="row gallery-env">
              <!-- Navbar -->
              <div class="col-sm-3 gallery-left">
                <%= render :partial=>"/kuppayam/api/docs/navigation" -%>
              </div>

              <%#* Page Content Starts here -%>
              <div id="div_page_content_main" class="col-sm-9 gallery-right">

                <%#* Show flash messages if controller has set any. -%>
                <div id="div_flash_message" class="mt-10">
                  <%= flash_message(false) if defined?(flash) -%>
                </div>

                <%= yield %>
              </div>
            </div>

          </div>
        </div>

        <!-- Footer -->
        <%= render :partial=>"/layouts/kuppayam/xenon/footer" -%>

      </div>

    </div>

    <%#* Loading Javascripts -%>
    <%= javascript_include_tag @javascript_filename -%>

    <%= yield :javascript_footer -%>

  </body>

</html>