<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    <%= render :partial=>"/layouts/kuppayam/head" -%>
  </head>

  <body class="page-body">

    <div class="page-container">
      
      <div class="main-content">

        <!-- Top Navigation -->
        <%= render :partial=>"/layouts/kuppayam/navbar" -%>

        <%#* Show flash messages if controller has set any. -%>
        <div id="div_flash_message" class="mt-10">
          <%= flash_message(false) if defined?(flash) -%>
        </div>

        <%#* Page Content Starts here -%>
        <div id="div_page_content_main">
          <%= yield %>
        </div>

        <!-- Footer -->
        <%= render :partial=>"/layouts/kuppayam/footer" -%>

      </div>

    </div>

    <%#* Loading Javascripts -%>
    <%= javascript_include_tag @javascript_filename -%>

    <%= yield :javascript_footer -%>

    <iframe id="iframe_document" name="iframe_document" width="100%" style="display:none"></iframe>

    <iframe id="iframe_image" name="iframe_image" width="100%" style="display:none"></iframe>

  </body>

</html>